<div class="card" style="width:400px">
    <img class="card-img-top" src="./my-images/amrita.jpg" alt="Card image" style="width:100%">
    <div class="card-body"><div class="card-header">
      <h4 class="card-title">Amrita kaur</h4></div>
     <p> Amrita is a fashion designer..</p>
      <a href="/about-amrita" class="btn btn-primary">See Profile</a>
    </div>
  </div>