<div class="card" style="width:400px">
    <img class="card-img-top" src="${input.pimages}" alt="Card image" style="width:100%">
    <div class="card-body"><div class="card-header">
      <h4 class="card-title">${input.pname}</h4></div>
     <p>${input.pdescription}</p>
      <a href="${input.pprofile}" class="btn btn-primary">see profile</a>
    </div>
  </div>